/src/resources_rc.py
.idea
/src/hdsemg-select.log
CLAUDE.md
/src/hdsemg_select/hdsemg_select.log
__pycache__/
*.pyc
.vscode/
.DS_Store
.env
.ipynb_checkpoints/
dist/
build/
*.egg-info/
.mypy_cache/
.pytest_cache/
htmlcov/
coverage.xml
.tox/
nosetests.xml
.coverage
.cache
.pyre/
*.sqlite3
instance/
*.log
/src/hdsemg_select/config/config.json
/src/hdsemg_select/resources_rc.py