name: Build and Release Channelselection Application

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.10.13

    - name: Install dependencies
      working-directory: ./src
      run: |
        python -m pip install --upgrade pip
        pip install -r ../requirements.txt
        pip install pyinstaller

    - name: Build executable
      working-directory: ./src
      run: pyinstaller --onefile --windowed --paths . --add-data "log;log" main.py

    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: HDsEMG-channelselection
        path: ./src/dist/main

    - name: Create release
      uses: ncipollo/release-action@v1
      with:
        artifacts: ./src/dist/main.exe
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: ${{ github.ref_name }}
        name: Release ${{ github.ref_name }}